    <link href="carousel.css" rel="stylesheet">
<div id="container">

	<section id="main0">
		<center><div class="main0_logo"></div></center>
		<center><p class="main0_text">이번 여름 시즌을 서울대 여자스키부와 함께 하세요:)</p></center>
	</section>

	<section id="main1">
		<center><div class="main1_subject"></div></center>
		<center><div class="main1_div">
			<div class="main1_div1">
				<div class="main1_div1_gif"></div>
				<div class="main1_div_subject"><p class="main1_div_text">오랜 전통</p></div>
				<p class="main1_div_p">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
			</div>
			<div class="main1_div2">
				<div class="main1_div2_gif"></div>
				<div class="main1_div_subject"><p class="main1_div_text">정신, 체력 단련하기</p></div>
				<p class="main1_div_p">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
			</div>
			<div class="main1_div3">
				<div class="main1_div3_gif"></div>
				<div class="main1_div_subject"><p class="main1_div_text">저렴하다.</p></div>
				<p class="main1_div_p">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
			</div>
		</div></center>
		<center><div class="main1_decoration"></div></center>
	</section>
	
	<section id="main2">
		<center><div class="main2_subject"></div></center>
		<div class="main2_name">
			<div class="main2_name_left">
				<div class="main2_row1">

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
					  이은주
					</button>
					<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이은주 (75 생물 교육)</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이은주 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
					  임인애
					</button>원
					<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">임인애(75 기악)</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 임인애 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
					  임인선
					</button>
					<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">임인선 </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 임인선 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
					  이민주
					</button>
					<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이민주  ( 76 동양화 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이민주 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div> 

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
					  이양
					</button>
					<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이양준 ( 77현악 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이양준 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal6">
					  신완옥
					</button>
					<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">신완옥 ( 77응용미술 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 신완옥 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div> 


					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
				</div>
				<div class="main2_row2">
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>					
				</div>
				<div class="main2_row3">
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
				</div>
				<div class="main2_row4">
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>					
				</div>
				<div class="main2_row5">
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
					<a class="name"><p class="name">이은주</p></a>
				</div>
			</div>
			<div class="main2_name_right">
				<div class="main2_row6">
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
				</div>
				<div class="main2_row7">
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
				</div>
				<div class="main2_row8">
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
				</div>
				<div class="main2_row9">
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
				</div>
				<div class="main2_row10">
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
					<a class="name_right"><p class="name">이은주</p></a>
				</div>
			</div>

<!--moda test
<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal">
  이은주
</button>
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title" id="myModalLabel">이은주</h4>
      </div>
      <div class="modal-body">
       
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
-->
		</div>
	</section>

	<section id="main3">
		<center><div class="main3_subject"></div></center>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/main3_photo1.png" alt="First slide">
            <div class="carousel-caption">
              <h1>선배님들과의 만남</h1>
              <p>여기에는 <code>선배님들과의 만남사진</code>이 위치합니다.</p>
              <!--<a id="main3_submit"class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>-->
            </div>
    </div>
    <div class="item">
      <img src="/assets/main3_photo2.png" alt="Second slide">
      <div class="carousel-caption">
      	 <h1>남자부랑의 친목관계</h1>
         <p>여기에는 <code>남자부의 홈페이지 주소</code>가 위치합니다.</p>
         <!--<a id="main3_submit"class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>-->
      </div>
    </div>
    <div class="item">
      <img src="/assets/main3_photo3.png" alt="Third slide">
      <div class="carousel-caption">
      	 <h1>합숙</h1>
         <p>여기에는 <code>합숙 이미지가</code>가 위치합니다.	</p>
         <!--<a id="main3_submit"class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>-->
      </div>
    </div>
    <div class="item">
      <img src="/assets/main3_photo4.png" alt="Forth slide">
      <div class="carousel-caption">
         <h1>대학 스키 연맹과의 관계</h1>
         <p>여기에는 <code>대회 참가</code>가 위치합니다.</p>
         <!--<a id="main3_submit"class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>-->
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

	</section>

	<section id="main4">
		<!--<a href="#main1">main1</a>
		<h1>Contact us</h1>-->
		<center>
		<div class="main4_form">
		<div class="main4_subject"></div>
		<%=form_tag('/main/write_process') do%>
		<center><div class="main4_input">
			<div class="main4_input_left">
				<%=text_field_tag "main4_input", nil, :placeholder=>'이름'%>
				<%=text_field_tag "main4_input", nil, :placeholder=>'이메일'%>
				<%=text_field_tag "main4_input", nil, :placeholder=>'전화번호'%>
				<%=text_field_tag "main4_input", nil, :placeholder=>'전공'%>
			</div>
			<div class="main4_input_right">
				<%=text_field_tag "main4_input", nil, :placeholder=>'글쓰기'%>
			</div>
		
		<%=submit_tag "submit", class:"main4_submit"%> 
		</div></center>
		<% end %>
		</div></center>
	</section>
</div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>

