    <link href="carousel.css" rel="stylesheet">
<div id="container">

	<section id="main0">
		<center><div class="main0_logo"></div></center>
		<center><p class="main0_text">이번 여름 시즌을 서울대 여자스키부와 함께 하세요:)</p></center>
	</section>

	<section id="main1">
		<center><div class="main1_subject"></div></center>
		<center><div class="main1_div">
			<div class="main1_div1">
				<div class="main1_div1_gif"></div>
				<div class="main1_div_subject"><p class="main1_div_text">오랜 전통</p></div>
				<p class="main1_div_p">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
			</div>
			<div class="main1_div2">
				<div class="main1_div2_gif"></div>
				<div class="main1_div_subject"><p class="main1_div_text">정신, 체력 단련하기</p></div>
				<p class="main1_div_p">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
			</div>
			<div class="main1_div3">
				<div class="main1_div3_gif"></div>
				<div class="main1_div_subject"><p class="main1_div_text">저렴하다.</p></div>
				<p class="main1_div_p">안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요안녕하세요</p>
			</div>
		</div></center>
		<center><div class="main1_decoration"></div></center>
	</section>
	
	<section id="main2">
		<center><div class="main2_subject"></div></center>
		<div class="main2_name">
			<div class="main2_name_left">
				<div class="main2_row1">

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal1">
					  이은주
					</button>
					<div class="modal fade" id="myModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이은주 (75 생물 교육)</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이은주 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal2">
					  임인애
					</button>
					<div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">임인애(75 기악)</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 임인애 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal3">
					  임인선
					</button>
					<div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">임인선 </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 임인선 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal4">
					  이민주
					</button>
					<div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이민주  ( 76 동양화 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이민주 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div> 

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal5">
					  이양
					</button>
					<div class="modal fade" id="myModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이양준 ( 77현악 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이양준 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal6">
					  신완옥
					</button>
					<div class="modal fade" id="myModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">신완옥 ( 77응용미술 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 신완옥 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div> 

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal7">
					  심혜원
					</button>
					<div class="modal fade" id="myModal7" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">심혜원( 77응용미술 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 심혜원 입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div> 

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal8">
					  백진경
					</button>
					<div class="modal fade" id="myModal8" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">백진경 ( 78응용미술 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 백진경입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

				</div>
				<div class="main2_row2">
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal9">
					  박혜경
					</button>
					<div class="modal fade" id="myModal9" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">박혜경 ( 78회화 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 박혜입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal10">
					  이화준
					</button>
					<div class="modal fade" id="myModal10" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이화준 (79 기악 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이화입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal11">
					  정금나
					</button>
					<div class="modal fade" id="myModal11" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">정금나 ( 79응미 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 정금ㄴ입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal12">
					  안영나
					</button>
					<div class="modal fade" id="myModal12" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">안영나 ( 80회화 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 안영나입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal13">
					  권수정
					</button>
					<div class="modal fade" id="myModal13" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">권수정 ( 81고고미술사 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 권수정입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal14">
					  김혜림
					</button>
					<div class="modal fade" id="myModal14" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김혜림 ( 81서양화 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김혜입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal15">
					  이인애
					</button>
					<div class="modal fade" id="myModal15" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이인애 ( 81 동양화 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이인애입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal16">
					  구은영
					</button>
					<div class="modal fade" id="myModal16" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">구은영 ( 81 서양화 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 구은영입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>					
				</div>

				<div class="main2_row3">
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal17">
					  서호신
					</button>
					<div class="modal fade" id="myModal17" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">서호신( 81 응용미술 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 서호신입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal18">
					  홍미선
					</button>
					<div class="modal fade" id="myModal18" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">홍미선 ( 81 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 홍미선입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal19">
					  김희선
					</button>
					<div class="modal fade" id="myModal19" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김희선 ( 81 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김희선입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal20">
					  송인옥
					</button>
					<div class="modal fade" id="myModal20" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">송인옥 ( 82서양화 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 송인옥입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal21">
					  정나민
					</button>
					<div class="modal fade" id="myModal21" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">정나민 ( 83심리 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 정나민입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal22">
					  곽기령
					</button>
					<div class="modal fade" id="myModal22" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">곽기령( 84인류 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 곽기령입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal23">
					  김정현
					</button>
					<div class="modal fade" id="myModal23" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김정현 (84불문 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김정현입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal24">
					  김주연
					</button>
					<div class="modal fade" id="myModal24" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김주연 ( 84기악 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김주연입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>											
				</div>
				<div class="main2_row4">
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal25">
					  이상원
					</button>
					<div class="modal fade" id="myModal25" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이상원 ( 84인류 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이상원입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal26">
					  권희정
					</button>
					<div class="modal fade" id="myModal26" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">권희정 ( 85심리 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 권희정입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal27">
					  이옥준
					</button>
					<div class="modal fade" id="myModal27" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이옥준 ( 85조소 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이옥준입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal28">
					  김지현
					</button>
					<div class="modal fade" id="myModal28" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김지현 ( 86심리 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김지입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal29">
					  김희정
					</button>
					<div class="modal fade" id="myModal29" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김희정 ( 86산업미술 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김희정입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal30">
					  이진영
					</button>
					<div class="modal fade" id="myModal30" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이진영 ( 86약학 / 94 법학 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이진영입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal31">
					  이형민
					</button>
					<div class="modal fade" id="myModal31" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이형민 ( 86기악 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이형민입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal32">
					  안성신
					</button>
					<div class="modal fade" id="myModal32" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">안성신 ( 86 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 안성입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>					
				</div>
				<div class="main2_row5">

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal33">
					  정주연
					</button>
					<div class="modal fade" id="myModal33" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">정주연 ( 87산미 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 정주연입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal34">
					  류정화
					</button>
					<div class="modal fade" id="myModal34" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">류정화 ( 87공예 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 류정화입니다 </p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal35">
					  박영교
					</button>
					<div class="modal fade" id="myModal35" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">박영교</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 박영교입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal36">
					  김태희
					</button>
					<div class="modal fade" id="myModal36" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김태희 ( 99의류 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김태희입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal37">
					  이선화
					</button>
					<div class="modal fade" id="myModal37" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이선화 ( 99의류 ) </h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이선화입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal38">
					  권미정
					</button>
					<div class="modal fade" id="myModal38" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">권미정 ( 00수학교육 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 권미정입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal39">
					  정지은
					</button>
					<div class="modal fade" id="myModal39" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">정지은 ( 00수학교육 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 정지은입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal40">
					  김정은 
					</button>
					<div class="modal fade" id="myModal40" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김정은</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김정은입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

				</div>
			</div>
			<div class="main2_name_right">
				<div class="main2_row6">


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal41">
					  구세희
					</button>
					<div class="modal fade" id="myModal41" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">구세희 ( 01의류 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 구세희입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal42">
					  이자림
					</button>
					<div class="modal fade" id="myModal42" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이자림 ( 01심리 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이자림입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal43">
					  이지혜
					</button>
					<div class="modal fade" id="myModal43" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이지혜</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이지혜입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal44">
					  박재진
					</button>
					<div class="modal fade" id="myModal44" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">박재진 ( 02경영 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 박재진입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal45">
					  배세린
					</button>
					<div class="modal fade" id="myModal45" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">배세린 ( 02기계항공 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 배세린입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal46">
					  이하늬
					</button>
					<div class="modal fade" id="myModal46" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이하늬 ( 02국악 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이하늬입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal47">
					  권보나
					</button>
					<div class="modal fade" id="myModal47" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">권보나 ( 02국악 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 권보나입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal48">
					  안릴라
					</button>
					<div class="modal fade" id="myModal48" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">안릴라 ( 02영어교육 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 안릴라입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

				</div>
				<div class="main2_row7">
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal49">
					  원하연
					</button>
					<div class="modal fade" id="myModal49" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">원하연 ( 02시각디자인 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 원하연입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal50">
					  권소현
					</button>
					<div class="modal fade" id="myModal50" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">권소현 ( 03국악 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 권소현입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal51">
					  김기은
					</button>
					<div class="modal fade" id="myModal51" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김기은 ( 03식물생산과학 / 이화여17대의하전문대학원 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김기은입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal52">
					  이현정
					</button>
					<div class="modal fade" id="myModal52" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이현정 ( 03중어중문학 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이현정입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal53">
					  주진호
					</button>
					<div class="modal fade" id="myModal53" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">주진호 ( 04서양화 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 주진호입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>	

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal54">
					  최우경
					</button>
					<div class="modal fade" id="myModal54" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">최우경 ( 04경제학 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 최우경입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>		

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal55">
					  김세정
					</button>
					<div class="modal fade" id="myModal55" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김세정 ( 05화학생물전공학 / 의학22전문대학원 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김세정입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>		

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal56">
					  박하영
					</button>
					<div class="modal fade" id="myModal56" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">박하영 ( 05 가족아동학 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 박하영입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
				</div>
				<div class="main2_row8">

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal57">
					  윤경진
					</button>
					<div class="modal fade" id="myModal57" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">윤경진 ( 06 재료공학 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 윤경진입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal58">
					  이양은
					</button>
					<div class="modal fade" id="myModal58" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이양은 ( 06재료공학 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이양은입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal59">
					  전혜연
					</button>
					<div class="modal fade" id="myModal59" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">전혜연 ( 06시각디자인 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 전혜연입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal60">
					  한지현
					</button>
					<div class="modal fade" id="myModal60" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">한지현 ( 06 동양사학 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 한지현입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal61">
					  고다연
					</button>
					<div class="modal fade" id="myModal61" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">고다연 ( 08시각 디자인 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 고다연입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal62">
					  정다연
					</button>
					<div class="modal fade" id="myModal62" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">정다연 ( 08해금 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 정다연입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>


					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal63">
					  유진
					</button>
					<div class="modal fade" id="myModal63" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">유진 ( 08 간호대 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 유진입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name"class="btn btn-primary" data-toggle="modal" data-target="#myModal64">
					  정수정
					</button>
					<div class="modal fade" id="myModal64" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">정수정( 09 작물생명과학 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 정수정입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
				</div>
				<div class="main2_row9">

					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal65">
					  황수정
					</button>
					<div class="modal fade" id="myModal65" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">황수정 ( 10도자공예 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 황수정입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal66">
					  최보금
					</button>
					<div class="modal fade" id="myModal66" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">최보금 ( 10공업디자인 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 최보금입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal67">
					  강민희
					</button>
					<div class="modal fade" id="myModal67" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">강민희 ( 11가족아동 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 강민희입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal68">
					  김지연
					</button>
					<div class="modal fade" id="myModal68" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">김지연 ( 10경영 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 김지연입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal69">
					  배경민
					</button>
					<div class="modal fade" id="myModal69" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">배경민 ( 11독어독문 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 배경민입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal70">
					  이윤지
					</button>
					<div class="modal fade" id="myModal70" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이윤지 ( 11농경제 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이윤지입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal71">
					  이정아
					</button>
					<div class="modal fade" id="myModal71" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">이정아( 12건설환경공학부 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 이정아입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal72">
					  박은지
					</button>
					<div class="modal fade" id="myModal72" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">박은지 ( 10교육학과 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 박은지입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>
				</div>
				<div class="main2_row10">
					<button  id="name_right"class="btn btn-primary" data-toggle="modal" data-target="#myModal73">
					  조은엽
					</button>
					<div class="modal fade" id="myModal73" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  						<div class="modal-dialog">
   							<div class="modal-content">
    							  <div class="modal-header">
       								 <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
    								 <h4 class="modal-title" id="myModalLabel">조은엽( 13수의대 )</h4>
    							  </div>
      							<div class="modal-body">
       							 <p>안녕하세요. 조은엽입니다.</p>
    							</div>
      							<div class="modal-footer">
      				    			<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      							</div>
				    		</div>
  						</div>
					</div>

				</div>
			</div>
		</div>
	</section>

	<section id="main3">
		<center><div class="main3_subject"></div></center>


<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-generic" data-slide-to="1"></li>
    <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    <li data-target="#carousel-example-generic" data-slide-to="3"></li>
  </ol>

  <!-- Wrapper for slides -->
  <div class="carousel-inner">
    <div class="item active">
      <img src="/assets/main3_photo1.png" alt="First slide">
            <div class="carousel-caption">
              <h1>선배님들과의 만남</h1>
              <p>여기에는 <code>선배님들과의 만남사진</code>이 위치합니다.</p>
              <!--<a id="main3_submit"class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>-->
            </div>
    </div>
    <div class="item">
      <img src="/assets/main3_photo2.png" alt="Second slide">
      <div class="carousel-caption">
      	 <h1>남자부랑의 친목관계</h1>
         <p>여기에는 <code>남자부의 홈페이지 주소</code>가 위치합니다.</p>
         <!--<a id="main3_submit"class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>-->
      </div>
    </div>
    <div class="item">
      <img src="/assets/main3_photo3.png" alt="Third slide">
      <div class="carousel-caption">
      	 <h1>합숙</h1>
         <p>여기에는 <code>합숙 이미지가</code>가 위치합니다.	</p>
         <!--<a id="main3_submit"class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>-->
      </div>
    </div>
    <div class="item">
      <img src="/assets/main3_photo4.png" alt="Forth slide">
      <div class="carousel-caption">
         <h1>대학 스키 연맹과의 관계</h1>
         <p>여기에는 <code>대회 참가</code>가 위치합니다.</p>
         <!--<a id="main3_submit"class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a>-->
      </div>
    </div>
  </div>

  <!-- Controls -->
  <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>

	</section>

	<section id="main4">
		<!--<a href="#main1">main1</a>
		<h1>Contact us</h1>-->
		<center>
		<div class="main4_form">
		<div class="main4_subject"></div>
		<%=form_tag('/main/write_process') do%>
		<center><div class="main4_input">
			<div class="main4_input_left">
				<%=text_field_tag "main4_input", nil, :placeholder=>'이름'%>
				<%=text_field_tag "main4_input", nil, :placeholder=>'이메일'%>
				<%=text_field_tag "main4_input", nil, :placeholder=>'전화번호'%>
				<%=text_field_tag "main4_input", nil, :placeholder=>'전공'%>
			</div>
			<div class="main4_input_right">
				<%=text_area_tag "main4_input_area", nil,size: "230x100", :placeholder=>'글쓰기'%>
			</div>
		
		<%=submit_tag "submit", class:"main4_submit"%> 
		</div></center>
		<% end %>
		</div></center>
	</section>
</div>
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script src="../../docs-assets/js/holder.js"></script>

